# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# The following depend on your selected configuration

## LLM choice:
OPENAI_API_KEY=...
CEREBRAS_API_KEY=...
DEEPSEEK_API_KEY=...
ANTHROPIC_API_KEY=...

DB_PASSWORD=...
